:root {
    --color-accent: #2196f3;
    --color-accent-secondary: #188ce8;
    --black-color: #000000;
    --main-light-color: #ffffff;
    --color-secondary: #f5f4fa;
    --title-primary: #212121;
    --text-primary: #757575;
    --dark-bgc-color: #2f303a;
    --text-secondary: rgba(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;
}