.mobile-nav {
    margin-bottom: auto;
    flex-grow: 1;
}

.mobile-nav__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.list {}

.mobile-nav__item {}

.mobile-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47/40);
    color: var(--title-primary);

    &:hover,
    &:focus {
        color: var(--color-accent);
    }
}

.link {}