.mobile-soc {}

.mobile-soc__list {
    display: flex;
    gap: 20px;
}

.list {}

.mobile-soc__item:not(:last-child)::after {
    content: '';
    height: 100%;
    width: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    position: absolute;
    top: 0;
    right: -10px;

}

.mobile-soc__item {
    position: relative;
}

.mobile-soc__link {

    font-weight: 500;
    font-size: 12px;
    line-height: calc(22/18);
    letter-spacing: 0.02em;
    color: var(--color-accent);
}

.link {}